.inProgress{
    background-color: white;
    border-radius: 2rem;
    height: auto;
    width: 90%;
    padding: 14px;
}
.header{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.inProgressCircle{
    color: rgb(201, 201, 16);
}