.statusCards{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px auto;
    width: 40%;
    gap: 30px;
}
.openTickets{
    background-color: white;
    border-radius: 2rem;
    padding: 14px;

}
.openTickets h3{
    color: green;
}
.openTickets p{
    display: flex;
    justify-content: flex-end;
}
.resolvedTickets{
    background-color: white;
    border-radius: 2rem;
    padding: 14px;

}
.resolvedTickets h3{
    color: gray;
}
.resolvedTickets p{
    display: flex;
    justify-content: flex-end;
}